.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f9fafa;
    height: 600px !important;

    &__detail-box {
        display: flex;
        gap: 10px;
        flex-direction: column;

        &__title{
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        &__desc{

        }
    }

    .img-box {
        width: 480px;

        img {
            width: 100%;
        }
    }
}