<!-- end slider section -->
<div class="container">
    <div class="row">
        <div class="col-md-5" style="display: flex; justify-content: center;">
            <div class="container__detail-box">
                <h1 class="container__detail-box__title">
                    For All Your <br>
                    Furniture Needs
                </h1>
                <p class="container__detail-box__desc">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo
                    maxime voluptatem a itaque suscipit.
                </p>
                <div class="container__btn-box">
                    <button class="btn orange-btn">
                        Contact Us

                    </button>
                    <button class="btn tosca-btn">
                        About Us

                    </button>

                </div>
            </div>
        </div>
        <div class="col-md-7" style="display: flex; justify-content: center;">
            <div class="img-box">
                <img src="https://firebasestorage.googleapis.com/v0/b/imal-tested.appspot.com/o/slider-img.png?alt=media&token=8a0bb765-651f-445d-a70a-6bcf7c12d172" alt="">
            </div>
        </div>
    </div>
</div>
