@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
    display: inline-block;
    padding: $pad1 $pad2;
    background-color: $col1;
    color: $col2;
    border-radius: $bRadius;
    border: 1px solid $col1;
    transition: all .2s;

    &:hover {
        background-color: transparent;
        color: $col1;
    }
}

.login_section {
    position: relative;
    background-color: #f9fafa;
    padding-top: 75px;
    padding-bottom: 75px;

    .heading_container {
        margin-bottom: 25px;

        h2 {
            text-transform: uppercase;
        }
    }


    .form_container {
        width: 50%;
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
            border: none;
            height: 50px;
            margin-bottom: 25px;
            padding-left: 15px;
            outline: none;
            color: #101010;
            box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: .05);

            &::placeholder {
                color: #333;
            }

            &.message-box {
                height: 120px;
            }
        }

        button {
            border: none;
            text-transform: uppercase;
            @include hero_btn(#6bb7be, #ffffff, 12px, 55px, 0px);
        }
    }

    .map_container {
        height: 500px;
        overflow: hidden;
        display: flex;
        align-items: stretch;
        padding: 0;

        .map {
            height: 100%;
            flex: 1;

            #googleMap {
                height: 100%;
            }
        }
    }
}