<section class="login_section  long_section">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="form_container">
                <div class="heading_container">
                    <h2>
                        Login
                    </h2>
                </div>
                <form action="">
                    <div>
                        <input type="text" placeholder="email" />
                    </div>
                    <div>
                        <input type="text" placeholder="Password" />
                    </div>
                    <div class="btn_box">
                        <button>
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>